html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
}
body {
  height: 100%;
  margin: 0;
  text-align: justify;
  background-color: #212c2f;
}
p {
  line-height: 1.5;
  font-size: 16px;
  color: #333;
}
.section {
  width: 100%;
}
.section > div {
  *zoom: 1;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.section > div:before,
.section > div:after {
  content: '';
  display: table;
}
.section > div:after {
  clear: both;
}
#Contact {
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  background-color: #d5b57f;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s ease;
}
@media (max-width: 767px) {
  #Contact {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    bottom: 20px;
    right: 20px;
  }
  #Contact i {
    transition: all 0.5s ease;
    font-size: 50px;
    line-height: 100px;
  }
  #Contact span {
    opacity: 0;
  }
  #Contact:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 106px;
    height: 106px;
    border-radius: 53px;
    bottom: 21px;
    right: 21px;
  }
  #Contact:hover i {
    font-size: 53px;
    line-height: 106px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #Contact {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    bottom: 20px;
    right: 20px;
    white-space: nowrap;
    padding-left: 30px;
  }
  #Contact i {
    font-size: 60px;
    line-height: 120px;
  }
  #Contact span {
    opacity: 0;
    font-size: 50px;
    margin-left: 8px;
  }
  #Contact:hover {
    width: 440px;
    padding-left: 0;
  }
  #Contact:hover span {
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  #Contact {
    width: 140px;
    height: 140px;
    border-radius: 70px;
    bottom: 40px;
    right: 40px;
    white-space: nowrap;
    padding-left: 35px;
  }
  #Contact i {
    font-size: 70px;
    line-height: 140px;
  }
  #Contact span {
    opacity: 0;
    font-size: 60px;
    margin-left: 10px;
  }
  #Contact:hover {
    width: 520px;
    padding-left: 0;
  }
  #Contact:hover span {
    opacity: 1;
  }
}
#A {
  *zoom: 1;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.31), rgba(0,0,0,0.31)), url("../img/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  overflow: hidden;
  color: #fff;
  text-align: center;
  position: relative;
}
#A:before,
#A:after {
  content: '';
  display: table;
}
#A:after {
  clear: both;
}
#A > div {
  position: relative;
  top: 50%;
  margin-top: -180px;
}
@media (max-width: 767px) {
  #A img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #A img {
    height: 320px;
  }
}
@media (min-width: 1200px) {
  #A img {
    height: 380px;
  }
}
#A i {
  position: absolute;
  bottom: 0;
  font-size: 32px;
  margin: 0 0 10px;
}
#B {
  padding: 100px 0;
}
#B h2 {
  font-size: 38px;
  margin-top: 20px;
}
#B img {
  margin-top: 30px;
  height: 260px;
  width: 260px;
  border-radius: 130px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  #B > div > div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  #B > div > div:before,
  #B > div > div:after {
    content: '';
    display: table;
  }
  #B > div > div:after {
    clear: both;
  }
  #B > div > div:last-child {
    margin-right: 0%;
  }
}
@media (min-width: 1200px) {
  #B > div > div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }
  #B > div > div:before,
  #B > div > div:after {
    content: '';
    display: table;
  }
  #B > div > div:after {
    clear: both;
  }
  #B > div > div:last-child {
    margin-right: 0%;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #B > div > div:nth-child(1) {
    box-sizing: border-box;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #B > div > div:nth-child(2) {
    box-sizing: border-box;
    padding-left: 10px;
  }
}
#B > div > div:nth-child(3) {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1199px) {
  #B > div > div:nth-child(3) {
    display: none;
  }
}
#C {
  background: linear-gradient(rgba(0,0,0,0.29), rgba(0,0,0,0.29)), url("../img/disfrutar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 160px 0;
}
#C h1 {
  font-size: 48px;
  font-family: 'Fjalla One', sans-serif;
}
#D {
  padding: 90px 0;
}
#D > div > div {
  text-align: center;
}
@media (max-width: 767px) {
  #D > div > div {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #D > div > div {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  #D > div > div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 29.999999999999996%;
    margin-left: 0%;
    margin-right: 5%;
  }
  #D > div > div:before,
  #D > div > div:after {
    content: '';
    display: table;
  }
  #D > div > div:after {
    clear: both;
  }
  #D > div > div:last-child {
    margin-right: 0%;
  }
}
#D > div > div > div:nth-child(1) {
  text-align: center;
}
#D > div > div > div:nth-child(1) img {
  display: inline-block;
  width: 180px;
  height: 180px;
  background-color: #ccc;
  border-radius: 90px;
  line-height: 180px;
}
#D > div > div > div:nth-child(2) {
  font-style: italic;
  color: #555;
  margin: 25px 0;
}
#D > div > div > div:nth-child(2) p {
  display: inline;
}
#D > div > div > div:nth-child(2) i {
  font-size: 18px;
  margin: 0 5px;
  color: #d5b57f;
}
#D > div > div > div:nth-child(3) {
  text-align: right;
  font-weight: 600;
}
#E {
  padding: 80px 0 90px;
  background-color: #212c2f;
  color: #fff;
}
#E h2 {
  font-size: 38px;
  text-align: center;
}
#E h3 {
  font-size: 28px;
}
#E p {
  color: #f5f5f5;
}
@media (max-width: 767px) {
  #E p {
    margin-bottom: 40px;
  }
}
#E i {
  position: relative;
  color: #d5b57f;
  font-size: 38px;
  top: 3px;
  margin: 0 10px 0 0;
}
#E > div > span {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 3px;
  background-color: #d5b57f;
  margin: 5px 0 55px -70px;
  left: 50%;
}
@media (min-width: 768px) and (max-width: 1199px) {
  #E > div > div > div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  #E > div > div > div:before,
  #E > div > div > div:after {
    content: '';
    display: table;
  }
  #E > div > div > div:after {
    clear: both;
  }
  #E > div > div > div:last-child {
    margin-right: 0%;
  }
}
@media (min-width: 1200px) {
  #E > div > div > div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 42%;
    margin-left: 0%;
    margin-right: 16%;
  }
  #E > div > div > div:before,
  #E > div > div > div:after {
    content: '';
    display: table;
  }
  #E > div > div > div:after {
    clear: both;
  }
  #E > div > div > div:last-child {
    margin-right: 0%;
  }
}
#F {
  margin: 70px 0 90px;
}
#F h2 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 15px;
}
#F h4 {
  font-size: 24px;
  text-align: center;
  font-weight: 200;
  margin: 10px 0 40px;
}
@media (max-width: 767px) {
  #F h4 {
    margin-bottom: 60px;
  }
}
#F img {
  margin: 20px 0 0;
  *zoom: 1;
  width: auto;
  max-width: 90%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
#F img:before,
#F img:after {
  content: '';
  display: table;
}
#F img:after {
  clear: both;
}
#F span {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 3px;
  background-color: #d5b57f;
  margin: 0 0 0 -70px;
  left: 50%;
}
#F > div > div > div {
  text-align: justified;
  margin-top: 50px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  #F > div > div > div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  #F > div > div > div:before,
  #F > div > div > div:after {
    content: '';
    display: table;
  }
  #F > div > div > div:after {
    clear: both;
  }
  #F > div > div > div:last-child {
    margin-right: 0%;
  }
}
@media (min-width: 1200px) {
  #F > div > div > div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 29.999999999999996%;
    margin-left: 0%;
    margin-right: 5%;
  }
  #F > div > div > div:before,
  #F > div > div > div:after {
    content: '';
    display: table;
  }
  #F > div > div > div:after {
    clear: both;
  }
  #F > div > div > div:last-child {
    margin-right: 0%;
  }
}
#F > div > div > div > h3 {
  font-size: 22px;
  margin: 10px 0;
}
#F > div > div > div > h3:nth-child(3) {
  margin: 40px 0 10px;
}
#F > div > div > div > p {
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  #F > div > div > div:nth-child(1) {
    box-sizing: border-box;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #F > div > div > div:nth-child(2) {
    box-sizing: border-box;
    padding-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #F > div > div > div:nth-child(3) {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
  }
  #F > div > div > div:nth-child(3):before,
  #F > div > div > div:nth-child(3):after {
    content: '';
    display: table;
  }
  #F > div > div > div:nth-child(3):after {
    clear: both;
  }
  #F > div > div > div:nth-child(3):last-child {
    margin-right: 0%;
  }
}
#G {
  padding: 80px 0 90px;
  background-color: #212c2f;
  color: #fff;
}
#G h3 {
  font-size: 22px;
}
@media (min-width: 1200px) {
  #G h3 {
    margin-top: 30px;
  }
}
#G p {
  color: #d5b57f;
}
@media (max-width: 767px) {
  #G p {
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 0.05em;
  }
}
@media (max-width: 767px) {
  #G p.phone {
    font-size: 28px;
    font-weight: normal;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #G p {
    font-size: 26px;
    font-weight: lighter;
    letter-spacing: 0.1em;
  }
}
@media (min-width: 1200px) {
  #G p {
    font-size: 21px;
    font-weight: lighter;
    letter-spacing: 0.1em;
  }
}
@media (max-width: 767px) {
  #G > div > div {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #G > div > div {
    text-align: center;
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  #G > div > div {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 27.999999999999996%;
    margin-left: 0%;
    margin-right: 8%;
  }
  #G > div > div:before,
  #G > div > div:after {
    content: '';
    display: table;
  }
  #G > div > div:after {
    clear: both;
  }
  #G > div > div:last-child {
    margin-right: 0%;
  }
}
#G > div > div:nth-child(1) span {
  display: block;
}
#G > div > div:nth-child(1) span:nth-child(1) {
  margin-top: 10px;
  font-size: 38px;
  font-weight: 200;
}
#G > div > div:nth-child(1) span:nth-child(2) {
  width: 50px;
  height: 3px;
  background-color: #d5b57f;
  margin: 15px 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  #G > div > div:nth-child(1) span:nth-child(2) {
    margin: 15px auto;
  }
}
